:root {
  --clr-primary0: hsl(0, 36%, 70%);
  --clr-primary1: hsl(0, 93%, 68%);

  --clr-neutral0: hsl(0, 6%, 24%);

  --f-weight-300: 300;
  --f-weight-400: 400;
  --f-weight-600: 600;

  --f-family: 'Josefin Sans', sans-serif;   
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* utility classes */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

img {
  max-inline-size: 100%;
}

/* end */

html {
  font-size: 62.5%;
  font-family: var(--f-family);
}

body {
  font-size: 1.6rem;
  background-image: linear-gradient(hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

/* main */

main {
  grid-template: "header img" .32fr "content img" 1fr / 1.5fr 1fr;
  gap: 2rem;
  background-image: linear-gradient();
}

header,
section {
  inline-size: 60%;
  justify-self: center;
}

header {
  grid-area: header;
  align-self: center;
}

picture {
  grid-area: img;
}

picture img {
  min-block-size: 100%;
}

section {
  grid-area: content;
  flex-flow: column nowrap;
  gap: 4rem;
  padding-block: clamp(2rem, calc(3vw + 1rem), 5rem);
  font-family: var(--f-family);
  color: var(--clr-primary0);
}

section h1 {
  margin-bottom: 2rem;
  font-size: clamp(3rem, calc(5vw + 1rem), 7rem);
  font-weight: var(--f-weight-400);
  color: var(--clr-neutral0);
  letter-spacing: 1.5rem;
}

section > div p {
  line-height: 2.5rem;
}

h1 span {
  font-weight: var(--f-weight-300);
  color: var(--clr-primary0);
}

form p {
  display: none;
  margin-block-start: 1rem;
  margin-inline-start: 2rem;
}

.email-bar {
  justify-content: space-between;
  border: 1px solid var(--clr-primary0);
  border-radius: 10rem; 
}

.email-bar div {
  inline-size: 80%;
}

form :is(label, input) {
  inline-size: 100%;
  block-size: 100%;
}

form input {
  padding-inline-start: 2rem;
  font-size: 1.4rem;
  color: var(--clr-neutral0);
  border: 0 solid var(--clr-primary0);
  border-radius: 10rem;
}

.icon-error {
  display: none;
  align-self: center;
  inline-size: 2rem;
  block-size: 2rem;
  margin-inline-start: 1rem;
}

.icon-arrow {
  padding-inline: clamp(2rem, calc(5vw + 1rem), 4rem);
  padding-block: 1.5rem;
  color: var(--clr-primary0);
  background: linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: none;
  border-radius: 3rem;
  transition: transform 300ms ease-in-out;
}

.icon-arrow:hover {
  transform: scale(1.1);
  background-image: linear-gradient(135deg , hsl(0, 0%, 100%), hsl(0, 74%, 74%));
  box-shadow: 1px 1px 2px linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}


footer {
  padding-block: 4rem 2rem;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}
    
.attribution a { 
  color: hsl(228, 45%, 44%); 
}


@media (max-width: 750px) {
  main {
    grid-template: "header" auto "img" 1fr "content" auto / 1fr;
  }

  header {
    padding-block-start: 2rem;
    padding-inline-start: 2rem;
    justify-self: start;
  }

  picture img{
    inline-size: 100%;
  }

  section {
    inline-size: 80%;
    padding-inline: clamp(2rem, calc(3vw + 1rem), 4rem);
    text-align: center;
  }

  input {
    font-size: .5rem;
  }
}

